
*.out

article-template-blx.bib

article-template.aux

article-template.bbl

article-template.blg

article-template.log

article-template.pdf

article-template.run.xml

article-template.synctex.gz


